<div class="spell-list-module general-module">
    <div class="mod-header-wrapper">
        <div class="mod-header">
            <h4 translate="dndspells.SPELL_LIST.HEADER"></h4>
        </div>
    </div>
    <div class="mod-body-wrapper">
        <div class="mod-body">
            <div class="spell-list-filters">
                <div class="spell-list-filter level-filter">
                    <dnd-option-dropdown select-options="vm.spellLevelsDropdown.spellLevels"
                        ng-model="vm.spellLevelsDropdown.selectedLevel"
                        config="vm.spellLevelsDropdown.config"></dnd-option-dropdown>
                </div>
                <div class="spell-list-filter school-filter">
                    <dnd-option-dropdown select-options="vm.spellSchoolsDropdown.spellSchools"
                        ng-model="vm.spellSchoolsDropdown.selectedSchool"
                        config="vm.spellSchoolsDropdown.config"></dnd-option-dropdown>
                </div>
                <div class="spell-list-filter class-filter">
                    <dnd-option-dropdown select-options="vm.spellClassesDropdown.spellClasses"
                        ng-model="vm.spellClassesDropdown.selectedClass"
                        config="vm.spellClassesDropdown.config"></dnd-option-dropdown>
                </div>
            </div>
            <ul class="spell-list">
                <li class="spell-list-header">
                    <div class="spell-list-col name-col" ng-click="vm.setOrderProp('name')"
                         ng-class="{activeUp: vm.spellOrder === 'name', activeDown: vm.spellOrder === '-name'}">
                        <p translate="dndspells.SPELL_LIST.SPELL_NAME"></p>
                    </div>
                    <div class="spell-list-col school-col" ng-click="vm.setOrderProp('school')"
                         ng-class="{activeUp: vm.spellOrder === 'school', activeDown: vm.spellOrder === '-school'}">
                        <p translate="dndspells.SPELL_LIST.SPELL_SCHOOL"></p>
                    </div>
                    <div class="spell-list-col level-col" ng-click="vm.setOrderProp('level')"
                         ng-class="{activeUp: vm.spellOrder === 'level', activeDown: vm.spellOrder === '-level'}">
                        <p translate="dndspells.SPELL_LIST.SPELL_LEVEL"></p>
                    </div>
                </li>
                <li class="spell-list-row" ng-repeat="spell in vm.spellsData |
                    filter: {level: vm.spellLevelsDropdown.selectedLevel.value || undefined} |
                    filter: {school: vm.spellSchoolsDropdown.selectedSchool.value || undefined} |
                    filter: {classes: vm.spellClassesDropdown.selectedClass.value || undefined} : true |
                    orderBy: vm.spellOrder track by $index">
                    <div class="spell-list-col name-col">
                        <p>{{spell.name}}</p>
                    </div>
                    <div class="spell-list-col name-col">
                        <p>{{vm.getSchoolTranslation(spell.school)}}</p>
                    </div>
                    <div class="spell-list-col level-col">
                        <p>{{vm.getLevelTranslation(spell.level)}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
