/*****************************************************************************
**
**		Form Styles
**
*****************************************************************************/
form {

    > ul > li {
        padding-bottom: dnd-calc(10, 16, em);

        &:last-child {
            padding: 0;
        }
    }

    .input-label {
        display: block;
        font-size: dnd-calc(12, 16, em);
        font-weight: bold;
        padding-bottom: dnd-calc(6, 12, em);
    }

    .form-errors {
        padding: dnd-calc(10, 16, em) 0;
    }

    .error {
        color: $error;
        font-size: dnd-calc(12, 16, em);
        font-weight: bold;
    }
}

input[type="text"], input[type="password"], input[type="email"] {
    border: 1px solid $gray;
    display: block;
    font-size: dnd-calc(18, 16, em);
    padding: dnd-calc(12, 18, em);
    width: 100%;

    &.ng-dirty.ng-invalid {
        border-color: $error;
    }
}

input[type="button"] {
    display: block;
    font-size: dnd-calc(18, 16, em);
    padding: dnd-calc(12, 18, em);
    width: 100%;
}
