/*****************************************************************************
**
**		General Module
**
*****************************************************************************/
.general-module {
    position: relative;

    .mod-header {
        padding: dnd-calc(10, 16, em) dnd-calc(20, 16, em);
    }

    .mod-body {
        padding: dnd-calc(10, 16, em) dnd-calc(20, 16, em);
    }

    .limited-container {
        margin: 0 auto;
        max-width: dnd-calc(400, 16, em);
    }
}
