/*****************************************************************************
**
**		Sideboard
**
*****************************************************************************/
.sideboard {
    background: $white;
    bottom: 0;
    box-shadow: 0 0 20px rgba($black, .5);
    left: dnd-calc(-410, 16, em);
    padding-top: dnd-calc(40, 16, em);
    position: fixed;
    top: 0;
    transition: left .15s ease-in-out;
    width: dnd-calc(400, 16, em);
    z-index: 500;

    &.active {
        left: 0;
    }


    /*****************************************************************************
    **		Header
    *****************************************************************************/
    .mod-header {
        background: $teal-darken-20;
        padding-left: dnd-calc(24, 16, em);
    }

    h4 {
        color: $white;
    }


    /*****************************************************************************
    **		Body
    *****************************************************************************/
    .mod-body {
        padding: 0;
    }

    .sidebar-nav-item {
        border-left: 4px solid transparent;
        cursor: pointer;
        font-size: dnd-calc(14, 16, em);
        padding-left: dnd-calc(20, 14, em);

        &.active {
            background: lighten($black, 97%);
            border-left-color: $brand-primary;
            color: $brand-primary;
            cursor: auto;
            font-weight: bold;
        }

        span {
            border-bottom: 1px solid $black-lighten-90;
            display: block;
            padding: dnd-calc(16, 14, em) dnd-calc(20, 14, em) dnd-calc(16, 14, em) 0;
        }
    }
}
