/*****************************************************************************
**
**		Top Nav Module
**
*****************************************************************************/
.top-nav-module {
    background: $brand-primary;
    border-bottom: 1px solid $teal-darken-10;
    height: dnd-calc(40, 16, em);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;

    .side-nav-toggle {
        color: $teal-darken-20;
        cursor: pointer;
        display: inline-block;
        margin-right: dnd-calc(10, 16, em);
        padding: dnd-calc(10, 16, em);
        transition: all .15s ease-in-out;

        &.active {
            background: $teal-darken-20;
            color: $white;
        }

        &:hover {
            background: $teal-darken-10;
            color: $white;
        }
    }

    .page-title {
        display: inline-block;

        a {
            color: $white;
            text-decoration: none;
            text-shadow: 0 -1px 0 $teal-darken-10;
        }
    }
}
