/*****************************************************************************
**
**		Sideboard
**
*****************************************************************************/
.sideboard {
    background: $white;
    bottom: 0;
    box-shadow: 0 0 20px rgba($black, .5);
    left: dnd-calc(-($sideboard-padding-small + 10), 100, %);
    padding-top: dnd-calc(40, 16, em);
    position: fixed;
    top: 0;
    transition: left .15s ease-in-out;
    width: dnd-calc($sideboard-padding-small, 100, %);
    z-index: 500;

    @media screen and ( min-width: 640px ) {
        left: dnd-calc(-($sideboard-padding-medium + 10), 16, em);
        width: dnd-calc($sideboard-padding-medium, 16, em);
    }

    &.active {
        left: 0;
    }


    /*****************************************************************************
    **		Header
    *****************************************************************************/
    .mod-header {
        background: $teal-darken-20;
        padding-top: dnd-calc(10, 16, em);
        padding-left: dnd-calc(24, 16, em);
    }

    h4 {
        color: $white;
    }


    /*****************************************************************************
    **		Body
    *****************************************************************************/
    .mod-body {
        padding: 0;
    }

    .sidebar-nav-item {
        border-left: 4px solid transparent;
        cursor: pointer;
        font-size: dnd-calc(14, 16, em);
        padding-left: dnd-calc(20, 14, em);

        span {
            border-bottom: 1px solid $black-lighten-90;
            display: block;
            font-weight: bold;
            padding: dnd-calc(16, 14, em) dnd-calc(20, 14, em) dnd-calc(16, 14, em) 0;
        }

        &:hover {

            span {
                color: $brand-primary;
            }
        }

        &.active {
            background: lighten($black, 96%);
            border-left-color: $teal-darken-20;
            color: $teal-darken-20;
            cursor: default;
            font-weight: bold;

            span {
                border-bottom: 1px solid $teal-darken-20;
            }

            &:hover {

                span {
                    color: $teal-darken-20;
                }
            }
        }
    }
}
