/*****************************************************************************
**
**		Core
**
*****************************************************************************/
* {
    box-sizing: border-box;
}

html {
    font-size: 100%; // 16px
}

body {
    font-size: 1em; // Set application base font-size to 16px
    line-height: dnd-calc(20, 16); // Set base line-height to 20px
}

/*****************************************************************************
**		Typography
*****************************************************************************/
p {
    margin: 0 0 dnd-calc(10, 16, em) 0;

    &:last-child {
        margin: 0;
    }
}
