/*****************************************************************************
**
**		Variables
**
*****************************************************************************/

// Teal
$teal: #00beda;
$teal-darken-10: darken($teal, 10%);
$teal-darken-20: darken($teal, 20%);


// Generic Colors
$black: #000;
$white: #fff;


// Brand Colors
$brand-primary: $teal;
