/*****************************************************************************
**
**		Variables
**
*****************************************************************************/

// Teal
$teal: #00beda;
$teal-darken-10: darken($teal, 10%);
$teal-darken-20: darken($teal, 20%);


// Black / Grays
$black: #000;
$black-lighten-50: lighten($black, 50%);
$black-lighten-90: lighten($black, 90%);


// Generic Colors
$white: #fff;
$gray: #e1e1e1;


// Brand Colors
$brand-primary: $teal;
$error: #e73333;
