<div class="login-module">
    <h2>Login</h2>
    <form class="login-form">
        <ul>
            <li>
                <input type="text" placeholder="Email" name="email" ng-model="vm.loginData.userEmail" />
            </li>
            <li>
                <input type="password" placeholder="Password" name="password" ng-model="vm.loginData.userPassword" />
            </li>
            <li>
                <span ng-click="vm.login()">button</span>
            </li>
        </ul>
    </form>
</div>
